<!DOCTYPE html>
<html style="height: 100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="每日古诗词">
    <meta name="google-site-verification" content="uzzoPnKElyADN-TUCyQ3wC4mgYZ6PVB8dbrueZF0XCc" />
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body id="globalbody">
    {% block main %} {% endblock %}
    <footer class="footer text-center h-auto">
        <p class="text-black mb-1">&copy;2020&nbsp;&nbsp;<a href="https://linshengxing.github.io/">@Lins</a></p>
    </footer>
</body>
<script type="text/javascript">
    $(function() {
        if (window.innerWidth < 768) {
            document.getElementsByTagName('html')[0].style.fontSize = '10px';
        } else if (window.innerWidth >= 768 && window.innerWidth < 1920) {
            document.getElementsByTagName('html')[0].style.fontSize = '12px';
        } else {
            document.getElementsByTagName('html')[0].style.fontSize = '14px';
        }
    });
</script>
</html>