<!DOCTYPE html>
<html style="height: 100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript by www.liaoxuefeng.com">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.js"></script>
</head>

<body style="min-height: 100%;margin:0;padding:0;position: relative;">
    <header class="navbar navbar-static-top">
        <div class="container">
            <nav class="collapse navbar-collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li><a target="_blank" href="http://www.liaoxuefeng.com/">Get Courses</a></li>
                    <li><a target="_blank" href="https://github.com/michaelliao/learn-javascript">Source Code</a></li>
                    <li><a target="_blank" href="http://getbootstrap.com/">Resource</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block main %} {% endblock %}
    <footer style="background-color:#ddd; padding: 20px 0;position: absolute;width: 100%;height: 100px;bottom: 0;">
        <div class="container text-center">
            <!-- <p>
                <a target="_blank" href="http://www.liaoxuefeng.com">Website</a> - 
                <a target="_blank" href="https://github.com/michaelliao/learn-javascript">GitHub</a> - 
                <a target="_blank" href="http://weibo.com/liaoxuefeng">Weibo</a>
            </p> -->
            <!-- <p>This WebSite is created by <a target="_blank" href="http://weibo.com/liaoxuefeng">@LinsShengXing</a>.</p> -->
            <p>This WebSite is created by @LinShengXing</p>
        </div>
    </footer>
</body>

</html>