<!DOCTYPE html>
<html style="height: 100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="每日古诗词">
    <meta name="google-site-verification" content="uzzoPnKElyADN-TUCyQ3wC4mgYZ6PVB8dbrueZF0XCc" />
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/static/favicon-01.ico" />
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
</head>
<body id="globalbody">
    <header class="navbar navbar-static-top">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">纳兰词</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/oneword">一句诗词</a>
            </li>
        </ul>
    </header>
    
    {% block main %} {% endblock %}
    <footer class="footer">
        <div class="container text-center">
            <p class="text-white">Copyright&nbsp;&nbsp;&copy;2019&nbsp;&nbsp;<a href="https://linshengxing.github.io/">@Lins</a></p>
        </div>
    </footer>
</body>
<script type="text/javascript">
    // $(function () {

    //     setInterval(getRgb, 6000);

    //     function getRgb() {
    //         $.getJSON('/nipponcolor', function (data) {
    //             debugger
    //             let randomNum;
    //             randomNum = Math.random();
    //             randomNum = Math.round(randomNum * 250);
    //             $('#globalbody')[0].style.backgroundColor = '#' + JSON.parse(data)[randomNum].color;
    //         });
    //     }

        // debugger
        // let backgroundColorArray = ['#0089A7', '#7BA23F', '#8F77B5', '#434343', '#24936E'];

        // $('#globalbody')[0].style.backgroundColor = '#24936E';
    // });
</script>

</html>