{% extends "base.html" %} {% block main %}
<ul class="nav justify-content-end align-items-center mr-5" style="height: 80px;max-width: 1400px;">
    <li class="nav-item m-2">
        <button type="button" class="btn btn-light" onclick="refresh()"><strong>Refresh</strong></button>
    </li>
    <li class="nav-item m-2">
        <button type="button" class="btn btn-light" onclick="download()"><strong>Download</strong></button>
    </li>
    <li class="nav-item m-2">
        <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"><strong>Theme</strong></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button type="button" class="btn btn-light dropdown-item" onclick="changeTheme('Blue')">Blue</button>
                <button type="button" class="btn btn-light dropdown-item" onclick="changeTheme('Pink')">Pink</button>
                <button type="button" class="btn btn-light dropdown-item" onclick="changeTheme('White')">White</button>
                <button type="button" class="btn btn-light dropdown-item" onclick="changeTheme('Red')">Red</button>
                <button type="button" class="btn btn-light dropdown-item" onclick="changeTheme('Green')">Green</button>
            </div>
        </div>
    </li>
    <li class="nav-item"></li>
</ul>
<div class="container-fluid">
    <table class="main-content oneword-content">
        <tbody>
            <tr>
                <td id="content">{{ poetry.content }}</td>
            </tr>
            <tr>
                <td id="author">{{ '--' + poetry.author + poetry.title }}</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    var download = () => {
        var content = $('#content').text();
        var url = '/download?content=' + content; 
        window.open(url, '_self');
    }

    var refresh = () => {
        $.ajax({
            url: '/refresh',
            method: 'get',
            success: function (returnData) {
                if (returnData.success) {
                    var contentText = returnData.data.poetry.content;
                    var authorText = '--' + returnData.data.poetry.author + returnData.data.poetry.title;
                    $('#content').html(contentText);
                    $('#author').html(authorText);
                }
            }
        });
    }

    var themeList = {
        Blue: { bgcolor: '#98B7D7', color: '#4F7AAC' },
        Pink: { bgcolor: '#EECECE', color: '#CA7D87' },
        White: { bgcolor: '#FBF5E8', color: '#DE403F' },
        Red: { bgcolor: '#D45E5A', color: '#F5F0EC' },
        Green: { bgcolor: '#BFD5C9', color: '#633652' },
    }
    
    var changeTheme = (themeName) => {
        var theme = themeList[themeName];
        document.getElementById('globalbody').style.backgroundColor = theme.bgcolor;
        document.getElementById('content').style.color = theme.color;
        document.getElementById('author').style.color = theme.color;
    }
</script>
{% endblock %}
