{% extends "base.html" %} {% block main %}
<div class="container-fluid">
    <table class="main-content oneword-content">
            <tbody>
                <tr>
                    <td id="content"></td>
                </tr>
                <tr>
                    <td id="author"></td>
                </tr>
            </tbody>
        </table>
</div>
<script>
    $.ajax({
        url: 'https://v1.jinrishici.com/all.json',
        method: 'get',
        success: function (data) {
            document.getElementById('content').innerText = data.content;
            document.getElementById('author').innerText = '--' + data.author + '《' + data.origin + '》';
        }
    });
</script>
{% endblock %}