
#globalbody{
    min-height:100%;
    margin:0;
    padding:0;
    position:relative;
    background-size: 100% 100%;
    background-color: #2A3950;
}
header {
    height: 60px;
}
header a{
    font-family: STXingkai, KaiTi_GB2312, BiauKai, STKaiti;
    font-size: 1.2em;
}
.footer{
    background-color:#080808;
     padding: 20px 0;
     position: absolute;
     width: 100%;
     height: 60px;
     bottom: 0;
}
p a{
    text-decoration: none;
}
.total{
    width:100%;
    height: 20px;
    font-family: STXingkai, KaiTi_GB2312, BiauKai, STKaiti;
    color: #FE7235;
    position: absolute;
    bottom: 70px;
}
.total-num{
    color:#81C7D4;
    /* color:#BEC23F; */
}
.main-content{
    width:100%;
    font-family: STXingkai, KaiTi_GB2312, BiauKai, STKaiti;
    color:#FE7235;
    text-align: center;
}
.container-fluid{
    margin-top: 5%;
}

.oneword-content{
    margin-top: 10%;
}
#content{
    font-size:3.5rem;
}
#author{
    font-size: 1.5rem;
}